<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- <meta http-equiv="refresh" content="3;url=/"> -->
    <title>Success</title>
  </head>
  <body>
    <h2>Successful</h2>
    <p>Now you do not need to worry about checking the MSIT's website regularly,you will be emailed on your provided email about the latest(most recent) notice and the latest News(most recent ) as soon as it is updated on the website</p>
    <h3><b>It is advised to check the notices and latest_news from the msit website for one last time, as the latest information will be emailed to you from the next time</b></h3>
    <a href="/"><button type="button" class="btn btn-info">Want to register another email?</button></a>
  </body>
</html>
