<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="refresh" content="3;url=/">
    <title>Success</title>
  </head>
  <body>
    <h2>Successful</h2>
    <p>Please wait for 3 seconds</p>
  </body>
</html>
